@font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff2') format('woff2'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background-image: url(image/fond.jpg);
    opacity: 10.5; 
}
#bloc_page{
    margin: auto;
    width: 95%;
    display: flex;
}
#liserie{
    width: 10%;
    margin-right: 10px;
}
#liserie img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
nav{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
#sec{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
article{
    margin-right: 10px;
    margin-top: 10px;
 
}

h1{
    text-align: center;
    margin: 0px auto;
    width: 100px;
}
#class{
    color: blue;
    background-color: red;
    width: 400px;
    border: 5px solid green;
}
#exp{
    color: rgb(200, 70, 100);
    border: 5px solid blue;
    background-color: yellow;
    width: 300px;

}
#comp{
    color: olive;
    background-color: blue;
    border: 5px solid black;
    width: 300px;
}
#form{
    color: orange;
    background-color: white;
    border: 5px solid maroon;
    width: 200px;
}
.exp{
    border: 2px solid black;
    background-color: #0FF;
    margin-top: 10px;
}
.comp{
    border: 2px solid black;
    background-color: #0FF;
    margin-top: 10px;
}
.form{
    border: 2px solid black;
    background-color: #0FF;
    margin-top: 10px;
}
span{
    font-weight: bold;
    font-size: 14px;
}
a{
    display: flex;
    justify-content: flex-end;
    
}
a img{
    border: 5px ridge #F0F;
    box-shadow: 5px 5px 0px black;
    border-radius: 5px;
}
#exp{
    clear: both;
}
#exp:hover{ 
    background-color: red;
    border-left: 5px solid yellow;
    width: 300px;
}
#comp:hover{ 
    background-color: #FF0;
    border-left: 5px solid blue;
    width: 300px;
}
#form:hover{ 
    background-color: #0FF;
    border-left: 5px solid gray;
}
@media screen and (max-width: 1024px){
    #liserie{
        display: none;
    }
    #sec{
        display: flex;
        flex-direction: column;
    }
}